<%# <p style="color: green"><%= notice</p> %> 


<h1>Properties</h1>

<div id="properties">
<p>dude</p>
  <% @properties.each do |property| %>
    <%= render property %>
    <p>
      <%= link_to "Show this property", property %>
    </p>
  <% end %>
</div>
<a href="http://www.railstutorial.org/">You </a>
<%= link_to "New property", new_property_path %>
